.Card {
  //width: 590px;
  //height: 885px;
  @apply p-20;
  @apply bg-white;
  @apply shadow;
  @apply rounded-lg;
  @apply text-center;
}

.Id {
  color: #D3D3D3;
  @apply text-3xl font-extrabold;
  @apply pt-4;
}

.Name {
  color: #393939;
  @apply text-9xl font-black;
  @apply py-8;
}

.Image {
  img {
    width: 420px;
    height: 420px;
    @apply mx-auto;
  }
}

.Types {
  @apply pt-20;
  @apply flex flex-row justify-center gap-8;

  .Type {
    @apply p-4;
    @apply rounded;
    @apply shadow;
    @apply text-2xl font-extrabold text-white;

    &.normal {
      @apply bg-tags-normal;
    }

    &.fighting {
      @apply bg-tags-fighting;
    }

    &.flying {
      @apply bg-tags-flying;
    }

    &.poison {
      @apply bg-tags-poison;
    }

    &.fire {
      @apply bg-tags-fire;
    }

    &.water {
      @apply bg-tags-water;
    }

    &.grass {
      @apply bg-tags-grass;
    }

    &.electric {
      @apply bg-tags-electric;
    }

    &.ice {
      @apply bg-tags-ice;
    }

    &.ground {
      @apply bg-tags-ground;
    }

    &.psychic {
      @apply bg-tags-psychic;
    }

    &.dark {
      @apply bg-tags-dark;
    }

    &.rock {
      @apply bg-tags-rock;
    }

    &.bug {
      @apply bg-tags-bug;
    }

    &.ghost {
      @apply bg-tags-ghost;
    }

    &.steel {
      @apply bg-tags-steel;
    }

    &.dragon {
      @apply bg-tags-dragon;
    }

    &.fairy {
      @apply bg-tags-fairy;
    }
  }
}
