.Card {
  //width: 590px;
  //height: 885px;
  @apply p-20;
  @apply bg-white;
  @apply shadow;
  @apply rounded-lg;
  @apply text-center;
}

.Id {
  color: #D3D3D3;
  @apply text-3xl font-extrabold;
  @apply pt-4;
}

.Name {
  color: #393939;
  @apply text-9xl font-black;
  @apply py-8;
  text-transform: capitalize;
}

.Stats {
  .Stat {
    @apply w-full;
    @apply mb-4;

    .StatTitle {
      @apply text-2xl font-extrabold text-left;
      text-transform: capitalize;
    }

    .StatBase {
      @apply flex flex-row items-center;
    }

    .StatValue {
      @apply p-2;
      @apply text-2xl font-extrabold;
    }

    .StatProgress {
      @apply flex-1;
      @apply h-3;
      @apply rounded-full;
      background-color: #F5F5F5;

      .StatProgressInner {
        @apply h-3;
        @apply rounded-full;
        background-color: #da4453;
      }
    }

    &.hp {
      @apply text-stats-hp;
      .StatProgressInner {
        @apply bg-stats-hp;
      }
    }

    &.attack {
      @apply text-stats-attack;
      .StatProgressInner {
        @apply bg-stats-attack;
      }
    }

    &.defense {
      @apply text-stats-defense;
      .StatProgressInner {
        @apply bg-stats-defense;
      }
    }

    &.special-attack {
      @apply text-stats-special-attack;
      .StatProgressInner {
        @apply bg-stats-special-attack;
      }
    }

    &.special-defense {
      @apply text-stats-special-defense;
      .StatProgressInner {
        @apply bg-stats-special-defense;
      }
    }

    &.speed {
      @apply text-stats-speed;
      .StatProgressInner {
        @apply bg-stats-speed;
      }
    }
  }
}
